doctype html
html
  head
    title= title
    link(rel='stylesheet', href=process.env.APP_URL_FRONT + 'stylesheets/style.css')
  body
    header
      block header

    main  
      block content

    footer
        
    script(src=process.env.APP_URL_FRONT + 'javascripts/app.js')