<!DOCTYPE html(lang="en")>
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    header
      if (currentAccount)
        p=currentAccount.Role + ': ' + currentAccount.FirstName + ' ' + currentAccount.LastName
        a(href='/roles') Роли
        a(href='/auth/signout') Log Out
      else
        a(href='/auth/signin') Log In

    main
      div#app  
        block content

    footer
      block footer
      
    script(src=process.env.APP_URL_FRONT + 'javascripts/app.js')