extends layout

block content
  - var objects = ['persons', 'marriages', 'documents'];
  - var rolesR = ['@superAdmin', '@admin', '@viewer'];
  - var actions = ['view', 'create', 'update', 'delete'];
  roles-page(:r=roles, :prop-roles=rolesR, :prop-actions=actions, :prop-obj=objects)