:root {

}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#app {
  margin: 20px 50px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

table th,
table td {
  border: 1px solid black;
  padding: 5px;
}
table tr:nth-child(2n) {
  background-color: rgb(221, 221, 221);
}

table tbody tr:hover {
  background-color: darkslategray;
  color: white;
}

article.showUser {
  display: flex;
  flex-direction: column;
}

article.showUser > section {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px 0;
}


.modal {
  z-index: 1;
  
}