%btn {
    padding: $btn-padding;
    background-color: $brand-primary;
    color: $white;
    border-color: transparent;
    border-radius: $btn-radius;
    text-transform: uppercase;
    font-weight: bold;
}

.btn {
    @extend %btn;
}

.btn:hover {
    @extend %btn;
    background-color: $brand-info;
}