%btn {
    padding: $btn-padding;
    background-color: $brand-primary;
    color: $white;
    border-color: transparent;
    border-radius: $btn-radius;
    text-transform: uppercase;
    font-weight: bold;
}

.btn {
    @extend %btn;
    
    &:hover,
    &:active,
    &:focus {
        @extend %btn;
        background-color: $brand-info;
        @extend %shadow-transition;
        outline: $outline-none;
    }
}

.btn-circle {
    
}

.w-100 {
    width: 100%;
}

.link {
    color: $link-color;
    margin: 5px;
    
    &:hover {
        color: $link-hover-color;
    }
}

.table {
    border: $border-table;
    border-collapse: collapse;

    .thead {

    }

    .tbody {

    }

    .trow {
        &:nth-child(2n) {
            background-color: $row-bg;
        }

        &:hover {
            background-color: $row-bg-hover;
        }
    }

    th, td {
        border: $border-table;
        padding: $cell-padding;
    }

}